Backend/.env
SUPABASE_URL=https://opcqwnlroimpacxgwlbi.supabase.co/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wY3F3bmxyb2ltcGFjeGd3bGJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzU2OTEyMywiZXhwIjoyMDc5MTQ1MTIzfQ.gKRTM2uTdhN79fhfsTqstjCSah--rsnl8Dy9_8vLSi0

CORS - Importante para desarrollo local
CORS_ORIGINS=["http://localhost:5173", "http://localhost:8080/", "http://127.0.0.1:5173/"]
